<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>test.sh</string>
	<key>CFBundleGetInfoString</key>
	<string>KisMAC 0.3.3, © 2002-2011 Geoffrey Kruse &amp; KisMAC Community</string>
	<key>CFBundleHelpBookFolder</key>
	<string>KisMACHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>KisMAC Help</string>
	<key>CFBundleIconFile</key>
	<string>devil.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.foo.test</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Test</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>KisMAC 0.3.3</string>
	<key>CFBundleSignature</key>
	<string>BIKM</string>
	<key>CFBundleVersion</key>
	<string>0.3.3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
